@keyframes growAndFadeIn {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 475px;
    opacity: 1;
  }
}

#logo {
  animation: growAndFadeIn 5s forwards;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('/images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* @media (max-width: 720px) {} */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  /* .nav_item {
    width: 100%;
    text-align: center;
  } */

  a, a:visited {
    color: #0000FF;
  }

  .card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0; /* 0 is a potential issue */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 450px;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 450px;
  }
  
  .gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* width: 100%;
    height: 100%; */
  }

@media (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing {
        align-items: center;
    }
      
      .pricing .card, .card {
        flex-basis: 275px; /* Set the base width for each card */
        margin: 10px; /* Add some space around each card */
    }
      
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* header {
        flex-direction: column;
        flex-wrap: wrap;
    } */

    .nav_links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #gallery {
        display: none;
    }

    .gallery {
        display: none;
    }

    .pricing {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    .card ul > :nth-child(2)::after {
        content: "\1F44D"; /* Unicode for thumbs up emoji */
    }
}